.contact
    display: flex
    flex-wrap: wrap

.map


.contact-form-block
    background-image: url("../img/background3.jpg")
    background-size: cover
    background-repeat: no-repeat
    width: 50%
    max-width: 800px
    height: 100%

.form-block
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    opacity: 0.7

.form-block__item
    width: 300px
    height: 45px
    background: transparent
    border: 1px solid #f2f2f2
.form-block__item2
    width: 300px
    height: 145px
    border: 1px solid #f2f2f2
    opacity: 0.7
    resize: none
    background: transparent
.form-block__text
    color: #f6f6f6
    font: 400 14px/36px Montserrat
    letter-spacing: -0.35px

